<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wallet.member.mapper.MemberWithdrawalArchiveMapper">

    <insert id="insert" parameterType="com.wallet.member.domain.MemberWithdrawalArchive">
        INSERT INTO member_withdrawal_archive (
            member_id,
            email,
            email_hash,
            name,
            withdrawn_at,
            retention_reason
        )
        VALUES (
                   #{memberId},
                   #{email},
                   #{emailHash},
                   #{name},
                   #{withdrawnAt},
                   #{retentionReason}
               )
    </insert>

</mapper>
