<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wallet.card.mapper.CardBinMapper">
    <resultMap id="cardBinResultMap" type="com.wallet.card.domain.CardBin">
        <constructor>
            <idArg column="cardBinId" javaType="Long"/>
            <arg column="cardCompanyId" javaType="Long"/>
            <arg column="binPrefix" javaType="String"/>
            <arg column="binLength" javaType="Integer"/>
        </constructor>
    </resultMap>

    <select id="findActiveByPrefix"
            resultType="com.wallet.card.domain.CardBin">
        SELECT
            card_bin_id AS cardBinId,
            card_company_id AS cardCompanyId,
            bin_prefix AS binPrefix,
            bin_length AS binLength
        FROM card_bin
        WHERE bin_prefix = #{binPrefix}
          AND is_active = 'Y'
            LIMIT 1
    </select>

</mapper>